/*style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#top {
    color: black;
    font-size: 45px;
}

.container {
    text-align: center;
    background-color: #e056fd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;

}

h1 {
    font-size: 24px;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    /* Include padding and border in the width */
    box-sizing: border-box;
    font-size: 15px;
}

input:focus{
    border: 5px double black;
}

input:hover{
    background-color: black;
    color: white;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 30px;
}

button:hover {
    background-color: white;
    color: black;
    border: 2px double black;
}

p {
    font-size: 25px;
    margin-top: 10px;
}

